@import './common/_mixins.scss';

.ch-home-page {
    margin-top: rem(100);
    .grid-fields {
        justify-content: center;
        .stack-fields {
            align-items: center;
            .field {
                width: 100%;
            }
        }
    }
}
