@import './common/_mixins.scss';

.ch-home-page {
    margin-top: rem(100);
    .ch-grid-fields {
        justify-content: center;
        .ch-stack-fields {
            align-items: center;
            .ch-field {
                width: 100%;
            }
        }
    }
}
